<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAm8bLGLrWuzeA3lczlaAfwp5d2b1IBlSc</string>
	<key>GCM_SENDER_ID</key>
	<string>631284502927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codingcow.codingCowApp</string>
	<key>PROJECT_ID</key>
	<string>dingca-976c1</string>
	<key>STORAGE_BUCKET</key>
	<string>dingca-976c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631284502927:ios:767b1b96a58afb6dac7bfa</string>
</dict>
</plist>